{% extends 'base.html.twig' %}


{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <table class="table-bordered"><br>
                <h1 class="logo-1 my-5"> OFFRE DE CASTING</h1><br>


                {{ include('home/filtre.html.twig') }}


                {% for offer in offers %}

                    {# <div style="display: flex; flex-wrap:wrap"> #}
                    <div class="backgroundcarte ms-4 mb-4" style="width: 18rem;{{ offer.sponso == true ? 'filter: brightness(0.3)' : '' }}">


                        <div class="card-body me-1">
                            <h1 class="col-sm textcard mt-3 text-truncate" href="{{ path('app_offer', {'id': offer.id}) }}" class="libel">{{ offer.libel }}</h1>
                            <h5 href="{{ path('app_offer', {'id': offer.id}) }}">{{ offer.nivurgence }}</h5>
                            <br>
                            <p class="card-title "></p>
                            <p class="card-title"
                               href="{{ path('app_offer', {'id': offer.id}) }}">{{ offer.sponso }}</p>
                            <a href="{{ path('app_offer', {'id': offer.id}) }}" class="btn btn-primary fw-bold mb-4 mt-3">OFFRES</a>
                        </div>
                    </div>


                {% endfor %}

                {{ knp_pagination_render(offers) }}

            </table>
        </div>

    </div>
{% endblock %}

