{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <body class="pageHome">
    <div>

        {#        barre de recherche #}
        <form class="d-flex justify-content-end mt-5 me-5" role="search" action="{{ path("app_search") }}">
            <input class="form-control me-2" style="width:200px" placeholder="Recherche" aria-label="Search"
                   name="query">
            <button class="barrederecherches" type="submit">Recherche</button>
        </form>

        <div class="container">
            <div class="row">
                <table class="table-bordered"><br>
                    <h1 class="logo-1"> Offre de casting</h1><br>


                    <br>
                    <br>
                    {% if offers|length > 0 %}
                    {% for offer in offers %}
                        <div class="backgroundcarte ms-4 mb-4" style="width: 18rem;">


                            <div class="card-body me-1">
                                <h1 class="col-sm textcard mt-3 text-truncate"
                                    href="{{ path('app_offer', {'id': offer.id}) }}"
                                    class="libel">{{ offer.libel }}</h1>
                                <br>
                                <p class="card-title ">Date de début</p>
                                <p class="card-title"
                                   href="{{ path('app_offer', {'id': offer.id}) }}">{{ offer.parutionDateTime | date('d / m / y') }}</p>
                                <a href="{{ path('app_offer', {'id': offer.id}) }}"
                                   class="btn btn-primary fw-bold mb-4">OFFRES</a>
                            </div>
                        </div>


                    {% endfor %}
                    {% else %}
                        <div><p class="mt-5 text-white fw-bold">Aucune offres disponible pour cette recherche ! </p></div>
                    {% endif %}

                </table>
    </body>
{% endblock %}
