{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>




        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="">MegaCasting</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_offer', {'id': 'x'}) }}">Offres <span class="sr-only"></span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="">Profil <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion <span class="sr-only"></span></a>
                    </li>



                </ul>

            </div>
        </nav>


{#        barre de recherche#}
        <nav class="navbar navbar-light bg-light">
            <form class="d-flex" role="search" action="{{ path("app_search") }}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
                    <button class="btn btn-outline-success" type="submit">Recherche</button>
                </form>
        </nav>

        <div class="container">
        <div class="row">
        <table class="table-bordered"><br>
            <h1 class="offrecasting"> Offre de casting</h1><br>
            <br>
            <br>

            {% for offer in offers %}
            <div class="card" style="width: 18rem;">


  <div class="card-body me-1" >
    <h5 class="card-title"><h1 class="col-sm" href="{{ path('app_offer', {'id': offer.id}) }}">{{ offer.libel }}</h1><br></h5>
    <p class="card-title" >Date de début :</p>
    <p class="card-title" href="{{ path('app_offer', {'id': offer.id}) }}">{{ offer.parutionDateTime | date('d / m / y')}}</p>
    <a href="" class="btn btn-primary">Postulez</a>
  </div>
</div>

</div>





</div>
</div>
            {% endfor %}
        </table>
    </div>
{% endblock %}
