{% extends 'base.html.twig' %}

{% block title %}Hello OfferController!{% endblock %}

{% block body %}

    <div class="pageHome" style="color: white; padding: 50px 0;">
        <div class="d-flex offredata container justify-content-center">
            <h1 class="offredata2 logo-1 mb-4" style="text-align: center;">Information sur les offres</h1>
        </div>

        <div class="d-flex justify-content-center fs-4">
            <div class="">
                <div class="form-group">
                    <b class="">Label :</b>
                    <span style="margin-left: 10px;">{{ offers.libel }}</span>
                </div>

                <div class="form-group">
                    <label>Localisation :</label>
                    <span style="margin-left: 10px;">{{ offers.localisation }}</span>
                </div>

                <div class="form-group">
                    <label>Date de parution :</label>
                    <span style="margin-left: 10px;">{{ offers.parutionDateTime | date('d / m / y') }}</span>
                </div>

                <div class="form-group">
                    <label>Date de début :</label>
                    <span style="margin-left: 10px;">{{ offers.OffreDateStart | date('d / m / y') }}</span>
                </div>

                <div class="form-group">
                    <label>Date de fin :</label>
                    <span style="margin-left: 10px;">{{ offers.OffreDateEnd | date('d / m / y') }}</span>
                </div>
                <div class="form-group">
                    <label>Sponsorisé :</label>
                    <span style="margin-left: 10px;">{{ offers.sponso }}</span>
                </div>

                <div class="form-group">
                    <label>Niveau d'urgence :</label>
                    <span style="margin-left: 10px;">
                        {% if offers.nivurgence == 1 %}
                            urgent
                        {% endif %}

                        {% if offers.nivurgence == 2 %}
                            intermédiaire

                        {% endif %}

                        {% if offers.nivurgence == 3 %}
                            non urgent

                        {% endif %}

                    </span>
                </div>

                <div class="form-group">
                    <label>Description :</label>
                    <span style="margin-left: 10px;">{{ offers.reference }}</span>
                </div>


                {{ form_start(form) }}


                <div class="row">
                    <div class="col">
                        {{ form_row(form.candidat) }}
                    </div>
                    <div class="col" id="some-custom-id">
                        {{ form_row(form.dueDate) }}
                    </div>
                </div>
                {{ form_end(form) }}

                {% if app.user != null %}
                    <a href="{{ path('app_offre_postule', {'id': offers.id }) }}"><button class="btn btn-dark mt-3" onclick="return confirm('Etes-vous sur de vouloir postuler pour cette offre ?')">Postuler</button></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}



